.contact-card{
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  padding: 1rem 1rem;
}

.contact-title{

  font-size: 3rem;

}

input[type="submit"] {
  margin-right: 1rem;
  height: 3rem;
  border-radius: 2rem;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 0rem 1rem 0rem 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.envio:hover {
  background-color: rgba(255, 255, 0, 0.2);
  border: 2px ridge yellow;
}
.success-message {
  color: #4caf50; /* Color verde para mensajes de éxito */
  background-color: #dff0d8; /* Fondo verde claro */
  border: 1px solid #d6e9c6; /* Borde verde claro */
  padding: 10px;
  margin-bottom: 10px;
}

.error-message {
  color: #d9534f; /* Color rojo para mensajes de error */
  background-color: #f2dede; /* Fondo rojo claro */
  border: 1px solid #ebccd1; /* Borde rojo claro */
  padding: 10px;
  margin-bottom: 10px;
}
/* Estilos para los input y textarea */
.text,
textarea {
  background-color: #fff; /* Fondo blanco */
  color: #000; /* Texto negro */
  border: 1px solid #ccc; /* Borde gris claro */
  padding: 8px; /* Espaciado interno */
  margin-bottom: 10px; /* Margen inferior para separar los elementos */
  width: 100%; /* Ancho completo */
  height: 100%;
  box-sizing: border-box; /* Incluye el ancho del borde y del relleno en el ancho total */
}


/* Estilos para el área del mensaje (div que contiene el textarea y el botón de envío) */
.message-area {
  display: flex;
  flex-direction: column;
}

.description {
  color: #fff; 
  margin-bottom: 20px; 
  font-size: 16px;
  line-height: 1.5; 
  padding: 2rem;

}
