.about {
    overflow: hidden;
    width: 100%; 
    height: 100vh;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.aboutMe{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1rem;
}
.aboutMe.light{
    color: #000;
}
.aboutMe.dark{
    color: #fff;
}

.aboutMeText{
    font-size: 400;
    font-size: 1rem;
    max-width: 55rem;
    padding: 0 2rem;
}
.aboutMeText.light{
    color: #000;
}
.aboutMeText.dark{
    color: #fff;
}

.aboutMeBars{
    margin:1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.aboutMeBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
}
.aboutMeBar.light{
    background: rgb(220, 220, 220);
}
.aboutMeBar.dark{
    background: rgb(50, 50, 50);
}

.aboutMeImg{
    object-fit: cover;
    height: 3rem;
    width: auto;
    margin-right: 2rem;
    margin-top: 2rem;
}
.aboutMeBarText>p{
    font-size: 1rem;
    font-weight: 300;
}
.aboutMeBarText.light{
    color: #000;
}
.aboutMeBarText.dark{
    color: #fff;
}
@media screen and (max-width: 720px) {
    .aboutMeBarTextM>p{
        font-size: 2vw;
    }
}
@media screen and (max-width: 480px) {
    .aboutMeBarTextM>p{
        font-size: 3vw;
    }
    .aboutMeImg{
        height: 2rem;
        width: auto;
    }
    .aboutMeBarText>h2{
        font-size: 5vw;
    }
}