#about{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.aboutMe{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1rem;

}
.aboutMeText{
    font-size: 300;
    font-size: 1rem;
    max-width: 55rem;
    padding: 0 2rem;
}
.aboutMeBars{
    margin:1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.aboutMeBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}
.aboutMeImg{
    object-fit: cover;
    height: 3rem;
    width: auto;
}