/* Estilos para el contenedor navbar */
.navbar {
  background-color: rgba(30, 30, 30, 0.56);
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 1rem auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

/* Estilos para el logo */
.logo {
  object-fit: contain;
  height: 3rem; /* Ajusta el tamaño de la imagen */
  width: auto;
}

/* Estilos para los enlaces del menú */
.desktopMenu {
  display: flex;
  align-items: center;
}

.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
}

.desktopMenuListItem:hover {
  padding-bottom: 0.5rem;
  border-bottom: 3px ridge yellow;
}

/* Alineación del logo a la izquierda */
.logo {
  order: -1;
}

/* Estilos para el menú hamburguesa */
.mobileMenu {
  display: none; /* Por defecto, oculto en pantallas grandes */
}

.mobileMenuBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
}

.mobileMenuImg {
  margin-right: 5px;
}

.mobileMenuItems {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #333;
  width: 100%;
  z-index: 1;
}

.mobileMenuItems a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #555;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
  .desktopMenu {
    display: none; /* Oculto en pantallas pequeñas */
  }

  .mobileMenu {
    display: flex; /* Mostrado en pantallas pequeñas */
  }

  .desktopMenuBtn {
    display: flex; /* Ajusta para mostrar el botón de contacto en pantallas grandes */
  }

  .logo {
    height: 2rem; /* Ajusta el tamaño del logo en dispositivos móviles */
  }

  .mobileMenuImg {
    height: 1.5rem; /* Ajusta el tamaño del logo en el menú hamburguesa */
  }
}
