.navbar {
  /* Estilos para el modo claro */
  background-color: #fcfcfc; 
  color: #000;
}

.navbar.dark {
  /* Estilos para el modo oscuro */
  background-color: #333; 
  color: rgb(255, 255, 255); 
}

.navbar {
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 1rem auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 3;
  position: sticky;
}

.navbar img {
  object-fit: contain;
  height: 2rem;
  width: auto;
}



/* Estilos para los enlaces del menú */
.desktopMenu {
  display: flex;
  align-items: center;
}

.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.toogleTheme{
  margin-right: 1rem;
  height: 3rem;
  border-radius: 2rem;
  padding: 0rem 1rem 0rem 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toogleTheme.dark{
  border: 2px solid white;
  background-color: transparent;
  color: white;
}
.imgBtn {
  object-fit: cover;
  height: 1rem;
  width: auto;
  margin: 0;
  margin-right: 1rem;
}
.desktopMenuListItem.light {
  color: #000; /* Color del texto para el modo claro */
}

.desktopMenuListItem.dark {
  color: #fff; /* Color del texto para el modo oscuro */
}

.desktopMenuListItem:hover {
  padding-bottom: 0.5rem;
  border-bottom: 3px ridge yellow;
}

.desktopMenuListItem:visited {
  color: inherit; /* Hereda el color del texto */
}

/* Estilos para el menú hamburguesa */
.mobileMenu {
  display: none;
}

.mobileMenu.light {
  background-color: #f8f9fa; /* Color de fondo para el modo claro */
}

.mobileMenu.dark {
  background-color: #333; /* Color de fondo para el modo oscuro */
}

.mobileMenuBtn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #000; /* Color del texto para el modo claro */
}

.mobileMenuBtn.dark {
  color: #fff; /* Color del texto para el modo oscuro */
}

.mobileMenuImg {
  margin-right: 5px;
}

.mobileMenuItems {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.mobileMenuItems.light {
  background-color: #e9ecef; /* Color de fondo para el modo claro */
}

.mobileMenuItems.dark {
  background-color: #555; /* Color de fondo para el modo oscuro */
}

.mobileMenuItems a {
  padding: 10px;
  text-decoration: none;
  color: #000; /* Color del texto para el modo claro */
}

.mobileMenuItems.dark a {
  color: #fff; /* Color del texto para el modo oscuro */
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
  .desktopMenu {
    display: none;
  }

  .mobileMenu {
    display: flex;
  }

  .desktopMenuBtn {
    display: flex;
  }

  .logo {
    height: 2rem;
  }

  .mobileMenuImg {
    height: 1.5rem;
  }
}